# flyctl launch added from .gitignore
# Python bytecode
**/__pycache__
**/*.py[cod]
**/*$py.class

# Virtual environments
**/.venv
**/venv

# Local env
**/.env

# Build/test outputs
**/.coverage
**/.pytest_cache
**/.ruff_cache
**/htmlcov

# Django artifacts
**/db.sqlite3
**/staticfiles
**/media

# flyctl launch added from .ruff_cache/.gitignore
# Automatically created by ruff.
.ruff_cache/**/*

# flyctl launch added from .venv/.gitignore
# Created by venv; see https://docs.python.org/3/library/venv.html
.venv/**/*
fly.toml
